<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <!--뒷단에서 가공해온 데이터 랜더링만 -->
    <ul>
        {{#each users}}
        <li>{{name}} : {{age}}</li>
        {{/each}}
    </ul>
</body>

</html>